arabic-reshaper==2.1.3
asgiref==3.3.4
astroid==2.3.3
attrs==19.1.0
Authlib==0.13
autopep8==1.5
awscli==1.17.9
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
base58==2.1.0
beautifulsoup4==4.9.3
bidict==0.21.2
bitarray==1.2.2
botocore==1.14.9
bs4==0.0.1
cairocffi==1.2.0
CairoSVG==2.5.2
certifi==2019.11.28
cffi==1.14.5
chardet==3.0.4
check50==3.0.10
Click==7.0
cloudscraper==1.2.56
colorama==0.4.1
compare50==1.1.2
cryptography==2.8
cs50==5.0.3
cssselect2==0.4.1
cycler==0.10.0
cytoolz==0.11.0
dbfread==2.0.4
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.2.3
django-easy-pdf==0.1.1
django-heroku==0.3.1
django-localflavor==3.0.1
django-object-actions==3.0.2
django-qr-code==2.1.0
django-qrcode==0.3
django-utils-six==2.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.4.0
dnspython==1.16.0
docutils==0.15.2
dominate==2.5.1
EditorConfig==0.12.2
eth-abi==2.1.1
eth-account==0.5.4
eth-hash==0.3.1
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
fake-useragent==0.1.11
Flask==1.1.1
Flask-Cors==3.0.9
Flask-MySQLdb==0.2.0
flask-paginate==0.6.0
Flask-QRcode==3.0.0
Flask-Session==0.3.1
Flask-SocketIO==5.0.1
flask-sqlacodegen==1.1.8
Flask-SQLAlchemy==2.4.1
flask-ssl==0.0.0.1rc1
Flask-WTF==0.14.3
future==0.18.2
global==0.1.0
gunicorn==19.10.0
help50==3.0.0
hexbytes==0.2.1
html5lib==1.1
icdiff==1.9.1
idna==2.8
ijson==2.6.1
ikp3db==1.4.1
inflect==4.1.0
intervaltree==2.1.0
ipfshttpclient==0.7.0a1
isort==4.3.21
itsdangerous==1.1.0
jellyfish==0.7.2
Jinja2==2.11.1
jmespath==0.9.4
jsbeautifier==1.10.3
jsonschema==3.2.0
jwt==1.0.0
keyboard==0.13.5
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lib50==2.0.7
libusb1==1.7.1
lru-dict==1.1.7
markdown2==2.4.0
markdownify==0.7.0
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
meza==0.42.3
multiaddr==0.0.9
mysql-connector-python==8.0.21
mysqlclient==2.0.1
natsort==7.0.1
netaddr==0.8.0
nltk==3.4.5
numpy==1.18.1
oauthlib==3.1.0
pandas==1.0.0
parse==1.18.0
parsimonious==0.8.1
peewee==3.13.3
pexpect==4.8.0
Pillow==8.2.0
plotly==4.5.0
protobuf==3.13.0
psycopg2==2.8.6
ptyprocess==0.6.0
public==2019.4.13
py-jwt-validator==0.6.0
PyAgg==0.2.0
pyasn1==0.4.8
pycodestyle==2.5.0
pycparser==2.20
pycryptodome==3.10.1
Pygments==2.5.2
pygogo==0.13.2
PyJWT==2.1.0
pylint==2.4.4
pylint-django==2.0.13
pylint-flask==0.6
pylint-plugin-utils==0.6
pyminifier==2.1
pymongo==3.10.1
pyobjc==7.1
pyobjc-core==7.1
pyobjc-framework-Accounts==7.1
pyobjc-framework-AddressBook==7.1
pyobjc-framework-AdSupport==7.1
pyobjc-framework-AppleScriptKit==7.1
pyobjc-framework-AppleScriptObjC==7.1
pyobjc-framework-ApplicationServices==7.1
pyobjc-framework-AuthenticationServices==7.1
pyobjc-framework-AutomaticAssessmentConfiguration==7.1
pyobjc-framework-Automator==7.1
pyobjc-framework-AVFoundation==7.1
pyobjc-framework-AVKit==7.1
pyobjc-framework-BusinessChat==7.1
pyobjc-framework-CalendarStore==7.1
pyobjc-framework-CFNetwork==7.1
pyobjc-framework-CloudKit==7.1
pyobjc-framework-Cocoa==7.1
pyobjc-framework-Collaboration==7.1
pyobjc-framework-ColorSync==7.1
pyobjc-framework-Contacts==7.1
pyobjc-framework-ContactsUI==7.1
pyobjc-framework-CoreAudio==7.1
pyobjc-framework-CoreAudioKit==7.1
pyobjc-framework-CoreBluetooth==7.1
pyobjc-framework-CoreData==7.1
pyobjc-framework-CoreHaptics==7.1
pyobjc-framework-CoreLocation==7.1
pyobjc-framework-CoreMedia==7.1
pyobjc-framework-CoreMediaIO==7.1
pyobjc-framework-CoreMIDI==7.1
pyobjc-framework-CoreML==7.1
pyobjc-framework-CoreMotion==7.1
pyobjc-framework-CoreServices==7.1
pyobjc-framework-CoreSpotlight==7.1
pyobjc-framework-CoreText==7.1
pyobjc-framework-CoreWLAN==7.1
pyobjc-framework-CryptoTokenKit==7.1
pyobjc-framework-DeviceCheck==7.1
pyobjc-framework-DictionaryServices==7.1
pyobjc-framework-DiscRecording==7.1
pyobjc-framework-DiscRecordingUI==7.1
pyobjc-framework-DiskArbitration==7.1
pyobjc-framework-DVDPlayback==7.1
pyobjc-framework-EventKit==7.1
pyobjc-framework-ExceptionHandling==7.1
pyobjc-framework-ExecutionPolicy==7.1
pyobjc-framework-ExternalAccessory==7.1
pyobjc-framework-FileProvider==7.1
pyobjc-framework-FileProviderUI==7.1
pyobjc-framework-FinderSync==7.1
pyobjc-framework-FSEvents==7.1
pyobjc-framework-GameCenter==7.1
pyobjc-framework-GameController==7.1
pyobjc-framework-GameKit==7.1
pyobjc-framework-GameplayKit==7.1
pyobjc-framework-ImageCaptureCore==7.1
pyobjc-framework-IMServicePlugIn==7.1
pyobjc-framework-InputMethodKit==7.1
pyobjc-framework-InstallerPlugins==7.1
pyobjc-framework-InstantMessage==7.1
pyobjc-framework-Intents==7.1
pyobjc-framework-IOSurface==7.1
pyobjc-framework-iTunesLibrary==7.1
pyobjc-framework-LatentSemanticMapping==7.1
pyobjc-framework-LaunchServices==7.1
pyobjc-framework-libdispatch==7.1
pyobjc-framework-LinkPresentation==7.1
pyobjc-framework-LocalAuthentication==7.1
pyobjc-framework-MapKit==7.1
pyobjc-framework-MediaAccessibility==7.1
pyobjc-framework-MediaLibrary==7.1
pyobjc-framework-MediaPlayer==7.1
pyobjc-framework-MediaToolbox==7.1
pyobjc-framework-Metal==7.1
pyobjc-framework-MetalKit==7.1
pyobjc-framework-MetalPerformanceShaders==7.1
pyobjc-framework-ModelIO==7.1
pyobjc-framework-MultipeerConnectivity==7.1
pyobjc-framework-NaturalLanguage==7.1
pyobjc-framework-NetFS==7.1
pyobjc-framework-Network==7.1
pyobjc-framework-NetworkExtension==7.1
pyobjc-framework-NotificationCenter==7.1
pyobjc-framework-OpenDirectory==7.1
pyobjc-framework-OSAKit==7.1
pyobjc-framework-OSLog==7.1
pyobjc-framework-PencilKit==7.1
pyobjc-framework-Photos==7.1
pyobjc-framework-PhotosUI==7.1
pyobjc-framework-PreferencePanes==7.1
pyobjc-framework-PushKit==7.1
pyobjc-framework-Quartz==7.1
pyobjc-framework-QuickLookThumbnailing==7.1
pyobjc-framework-SafariServices==7.1
pyobjc-framework-SceneKit==7.1
pyobjc-framework-ScreenSaver==7.1
pyobjc-framework-ScriptingBridge==7.1
pyobjc-framework-SearchKit==7.1
pyobjc-framework-Security==7.1
pyobjc-framework-SecurityFoundation==7.1
pyobjc-framework-SecurityInterface==7.1
pyobjc-framework-ServiceManagement==7.1
pyobjc-framework-Social==7.1
pyobjc-framework-SoundAnalysis==7.1
pyobjc-framework-Speech==7.1
pyobjc-framework-SpriteKit==7.1
pyobjc-framework-StoreKit==7.1
pyobjc-framework-SyncServices==7.1
pyobjc-framework-SystemConfiguration==7.1
pyobjc-framework-SystemExtensions==7.1
pyobjc-framework-UserNotifications==7.1
pyobjc-framework-VideoSubscriberAccount==7.1
pyobjc-framework-VideoToolbox==7.1
pyobjc-framework-Vision==7.1
pyobjc-framework-WebKit==7.1
pyodbc==4.0.30
pyparsing==2.4.7
PyPDF2==1.26.0
Pyphen==0.10.0
pyrsistent==0.17.3
python-bidi==0.4.2
python-dateutil==2.8.1
python-dotenv==0.17.1
python-engineio==4.0.0
python-magic==0.4.15
python-slugify==1.2.6
python-socketio==5.0.4
python-stdnum==1.16
pytz==2021.1
pyusb==1.0.0a2
PyYAML==5.2
qrcode==6.1
query-string==2019.4.13
redis==3.4.1
render50==3.1.3
reportlab==3.5.67
reportlab-qrcode==0.1.4
requests==2.22.0
requests-cache==0.5.2
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
rlp==2.0.1
rsa==3.4.2
s3cmd==2.0.2
s3transfer==0.3.2
scipy==1.4.1
segno==1.3.3
selenium==3.141.0
six==1.16.0
sortedcontainers==2.1.0
soupsieve==1.9.5
SQLAlchemy==1.3.13
sqlparse==0.4.1
style50==2.7.4
submit50==3.0.2
supervisor==4.1.0
tempMail2==1.0.2
termcolor==1.1.0
tinycss2==1.1.0
toolz==0.11.1
tqdm==4.42.1
twython==3.7.0
typed-ast==1.4.1
Unidecode==1.1.1
urllib3==1.25.8
varint==1.0.2
virtualenv==16.7.9
visitor==0.1.3
WeasyPrint==49
web3==5.17.0
webencodings==0.5.1
websockets==8.1
Werkzeug==0.16.1
whitenoise==5.2.0
wrapt==1.11.2
WTForms==2.3.3
xhtml2pdf==0.2.5
xlrd==1.2.0
