{% extends "commerce/layout.html"%}

{% block body %}

<div class="container">



    {% for item in items%}

    <div class="row justify-content-start">
        <div class="col-4">
            <div class="card" style="width: 18rem;">

                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ item.nome }}</h5>
                    <p class="card-text">{{ item.descricao }}</p>
                    <form action="/store/basket" method="post">
                        <input type="hidden" name="product_type" value="{{ item.nome }}">
                        <input type="hidden" name="product_id" value="{{ item.id }}" />
                        <button type="submit" class="btn btn-primary">Add to Cart</a>
                    </form>
                </div>
            </div>


        </div>






        {%endfor%}
    </div>
</div>




{% endblock %}