{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <title>Document</title>
    <style>
        .pas {
            padding-left: 20px
        }

        .nav__container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pas">
        <a class="navbar-brand" href="#">Peppertools</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">{% trans 'Home' %}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">{% trans 'Contact us' %}</a>
                </li>



            </ul>

        </div>
        <div class="form-inline">

            <a class="nav-link" href="#">{% trans 'cart' %}</a>

        </div>
        <form class="form-inline">
            <input class="mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>




</head>

<body>

    <div class="container-fluid">




        {% block body%}
        {% endblock %}
    </div>
    <script src="{% static 'js/bootstrap.min.js' %} "></script>
</body>

</html>